@charset "utf-8";
/* NUR ANIS SYAMIMI BINTI ALI
   10/06/2021 */

 body{
 	font-family: Roboto, Arial, sans-serif;
   color: white;
 }

h1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.grid-container{
   grid-column: 2;
   grid-template-columns: auto auto;
 	grid-gap: 10px;
   display: grid;
   padding: 10px;
   margin: 5px;
   text-align: left;
}

.grid-item{
 	grid-gap: 5px;
   flex-direction: center;
   text-align: center;
   position: relative;
   height: 250px;
   display: flex;
   background: url(banner.jpg);
   background-size: auto;
}

#personalInfo,#contactInfo,#feedback{
 	background-color: rgb(214,234,248);
}

legend{
  background-color: #1e87c9;
  padding: 10px;
}

label{
 	color: black;
}

input[type=text], input[type=number], input[type=tel], input[type=email], textarea{
 	padding: 5px;
 	width: 100%;
 	border-radius: 8px;
}

input:focus{
 	border-style: solid;
   border-width: 2px;
   border-color: #43D1AF;
}

input[type=submit] , input[type=reset]{
 	background-color: #1abc9c;
 	color: white;
 	font-size: 16px;
 	width: 150px;
 	border: none;
 	border-radius: 5px;
}
 